h1{
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 36 px;
}

h2{
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 24 px;
}

p{
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 16 px;
}

li{
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 16 px;
    text-align: left;
}

a{
    color: #4E80EE;
}

.title{
    background-color: #FFFFFF;
    text-align: center;
    width: 100%;
}

body .text{
    background-color: #F8FAFC;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

hr{
    border: 1px solid #D2D5DA;
    width: 80%;
    margin: 20px 0; 
}